{% extends 'base.html' %}

{% block content %}
<div class="card">
	<div class="card-header">
		<h5 class="card-title">{{ venue }}</h5>
	</div>
	<div class="card-body">
	  <p class="card-text">
		<ul>
			<li>{{ venue.address }}</li>
			<li>{{ venue.zip_code }}</li>
			<li>{{ venue.phone }}</li>
			<li><a href="{{ venue.web }}">{{ venue.web }}</a></li>
			<li>{{ venue.email }}</li>
			<li>Owner: {{ user.username }}</li>
			{% if venue.venue_image %}
				<img src="{{ venue.venue_image.url }}" width=200/>
			{% endif %}
		</ul>
	</div><br/>
	<h1>Upcoming Events in this Venue:</h1><br/>
	{% if events %}
		{% for event in events %}
			<a href="{% url 'show_event' event.id %}">{{ event }}</a>
		{% endfor %}
	{% else %}
		<p>There are currently no Events</p>
	{% endif %}
</div>
{% endblock %}